<div>
    <div class="main_heading_cont">
    <h1 class="main_hedaing">HUNGRY BIRDS</h1>
    </div>
    <%= link_to "Restaurants",restaurants_path %><br/>
    <%= link_to "Customers",customers_path %><br/>
    <%= link_to "Place an order", new_order_path%>

</div>