/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";


 table, th, td {
   border: 2px solid rgb(146, 28, 8) !important; 
   border-collapse: collapse;
   padding: 20px;
   margin-left: 30px;
   margin-top: 30px;
   width:20vw;
   text-align: center;
 }
 .nav_image{
    height: 40px;
    border-radius: 20px;
 }
 .home-main-container{
    background-image: url(https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .home-main-heading{
    color: #f27f0c;
    font-size: 90px;
    font-family: cursive;
    text-align: center;
    padding-top: 400px;
    text-shadow: 2px 2px #ffffff;
 }
 .products-container{
    background-color: #ffffff;
    height: 100px;
    width: 200px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-left: 200px;
 }
 .tags-container{
    background-color: #ffffff;
    height: 100px;
    width: 200px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-right: 200px;
 }
 .home-sub-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
 }
 .button{
    margin-left: 50px;
 }
 .button1{
    margin-left: 70px;
 }
 .product-index-main-container{
   background: rgb(238,174,202);
   background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
 }
 .product-index-container{
   background-color: white;
   padding-left: 30px;
   border-radius: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-left: 8px;
   margin-right: 8px;
 }
 .product-link{
   text-decoration: none;
   color: brown;
 }
 .tags-link{
   text-decoration: none;
   font-size: larger;
   font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .product-heading{
   font-weight: 400;
   font-size: 30px;
 }
 .product-details{
   font-size: 20px;
 }
 .product-index-buttons-container{
   display: flex;
   flex-direction: row;
   justify-content: left;
 }
 .new-product-button-container{
   padding-left: 70px;
   padding-top: 20px;
   padding-bottom: 30px;
 }
 .product-index-main-heading{
   color: #d01254;
   margin-left: 10px;
   padding-top: 10px;
   font-weight: 300;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
.tag-index-main-heading{
   color: rgb(241, 55, 55);
  margin-left: 20px;
  font-size: 40px;
  margin-top: 10px;
}
.tag-button-container{
  margin-left: 30px;
}
.tag-new-form-container{
  margin-left: 40vw;
  color: dodgerblue;
}
.tag-new-heading{
  color: rgb(230, 18, 18);
  margin-left: 40vw;
  margin-top: 60px;
  font-size: 35px;
  font-weight: 400;
}
.tag-show-heading{
  font-size: 25px;
  margin-left: 20px;
  font-weight: 400;
}
.tag-show-span-heading{
  color: mediumslateblue;
  font-family: 'Times New Roman', Times, serif;
}